/*********************************/
/* Styles for the HTML5 elements */
/*********************************/

body {
    background-image: url("../img/books-wallpaper.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

form {
    margin-bottom: 30px;
}

a {
    color: rgb(242, 229, 167);
}

/***********************/
/* User defined styles */
/***********************/

.create-acc-message {
    color: white;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
}

.recover-password-message {
    color: white;
    text-align: center;
    margin-top: 30%;
    margin-bottom: 30%;
}

.link-text {
    color: white;
    text-shadow: 1px 1px #000000;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .login-logo {
        width: 80%;
        height: 55%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 1024px) {
    .login-logo {
        width: 40%;
        height: 25%;
        margin-bottom: 5%;
    }
}


/*************************************/
/* Overloaded Ratchet element styles */
/*************************************/

.bar-nav, .bar-footer {
    background-color: rgb(56, 49, 19);
    color: white
}

.title {
    color: white;
}

.content {
    background-color: rgba(68, 54, 11, 0.35);
}

.btn-block {
    background-color: rgb(56, 43, 14);
    color: white;
}

.card {
    background-color: rgb(81, 73, 55);
}

/********************************************/
/********************************************/
/********************************************/